form{
    width: 100%;
}
.p{
    color: azure;
}
:Link{
    text-decoration: none;
}
.image-gallery {
    width: 40%;
    height: 60px;
}
.image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}
.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}